/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* common */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: "Open Sans", Helvetica, sans-serif;
}

i {
	color: rgb(227, 32, 104);
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.btn {
	height: 26px;
	min-width: 140px;
	color: #ffffff;
	background-color: #e32068;
	display: inline-block;
	border: none;
	border-radius: 15px;
    cursor: pointer;
	font-size: 12px;
}

.btn--big {
	height: 30px;
	min-width: 160px;
	font-size: 16px;
}

.btn--blue {
	background-color: #0c4362;
}

.btn + .btn {
	margin-left: 10px;
}

.btn:hover {
	animation: btn-animation forwards;
}

.text-title {
	font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 2.4;
}

.text-title::before {
	content: "";
	display: inline-block;
	width: 60px;
	height: 2px;
	margin-right: 4px;
	background-color: rgb(227, 32, 104);
}

.text-heading {
	font-family: "Roboto", sans-serif;
    color: rgb(25, 67, 90);
    font-size: 46px;
    font-weight: bold;
	margin: 6px 0;
}

.text-heading--pink {
    color: rgb(227, 32, 104);
}

.text-paragraph {
	font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.6;
	margin: 10px 0;
}
	

/* main */
#main {
	width: 1368px;
	margin: 0 auto;
	position: relative;
}

#header {
	position: fixed;
	top: 0;
	width: 1368px;
	margin: 0 auto;
    background-color:rgb(25, 67, 90) ;
}

.header-infor {
	width: 960px;
	margin: 0 auto;
	height: 32px;
	font-size: 10px;
	line-height: 32px;
}

.header-infor .fas {
	font-size: 14px;
	margin: 0 2px;
}

.header-infor .fab {
	font-size: 14px;
	margin: 0 8px;
}

.header-infor .infor-text {
	color: #ffffff;
	display: inline-block;
	margin: 0 10px;
}

.header-infor .infor-text span {
	color: #B4B4B4;
	padding: 0 8px;
}

.header-infor .infor-social {
	display: block;
	color: #ffffff;
	float: right;
}

#header .nav {
	height: 68px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
}

#header .nav .nav-infor{
	width: 960px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav .nav-infor .nav-infor-sub {
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav img {
	width: 65px;
	height: 65px;
	margin: 4px;
}

.nav li {
	list-style: none;
	margin: 10px;
	cursor: pointer;
}

.nav li:hover {
	font-weight: 500;
}

.nav a {
	color: black;
}

/* slider */
#content .slider {
	width: 1368px;
	height: 600px;
	background: url(../img/sliders/img-slider-01-20210412040433.jpg) top center / cover no-repeat;
	position: relative;
	margin-top: 100px;
}

#content .slider .slider-sub {
	width: 428px;
	position: absolute;
	top: 140px;
	left: 240px;
}

.slider .slider-sub .btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/* animation */

@keyframes btn-animation {
	from {
		opacity: 1;
		transform: rotateX(100px);
		background: linear-gradient(90deg, rgba(12,67,98,1) 13%, rgba(227,32,104,1) 100%);

	}
	to {
		opacity: 0.6;
		transform: rotateX(0px);
		background: linear-gradient(90deg, rgba(12,67,98,1) 13%, rgba(227,32,104,1) 100%);
	}
}