/* reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* common */
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family: "Open Sans", Helvetica, sans-serif;
}

i {
	color: rgb(227, 32, 104);
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.btn {
	height: 26px;
	min-width: 140px;
	color: #ffffff;
	background-color: #e32068;
	display: inline-flex;
	border: none;
	border-radius: 15px;
    cursor: pointer;
	font-size: 12px;
	align-items: center;
	justify-content: center;
	margin: 2px;
}

.btn__large {
	height: 30px;
	min-width: 170px;
	font-size: 14px;
}

.btn--blue {
	background-color: #0c4362;
}

.btn + .btn {
	margin-left: 10px;
}

.btn:hover {
	animation: btn-animation forwards;
}

.text-title {
	font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 2.4;
}

.text-title::before {
	content: "";
	display: inline-block;
	width: 60px;
	height: 2px;
	margin-right: 4px;
	background-color: rgb(227, 32, 104);
}

.text-title__small {
	font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    line-height: 1.8;
}

.text-title__small::before {
	content: "";
	display: inline-block;
	width: 40px;
	height: 2px;
	margin-right: 4px;
	background-color: rgb(227, 32, 104);
}

.text-heading {
	font-family: "Roboto", sans-serif;
    color: rgb(25, 67, 90);
    font-size: 46px;
    font-weight: bold;
	margin: 6px 0;
}

.text-heading__small {
	font-family: "Roboto", sans-serif;
    color: rgb(25, 67, 90);
    font-size: 24px;
    font-weight: bold;
	margin: 4px 0;
}

.text-heading--pink {
    color: rgb(227, 32, 104);
}

.text-paragraph {
	font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 1.6;
	margin: 10px 0;
}

.text-paragraph__small {
	font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 11px;
    line-height: 1.6;
	margin: 10px 0;
	display: inline-block;
}

.row {
	display: flex;
	width: 960px;
	margin: 10px auto;
	justify-content: space-between;
	align-items: stretch;
}

.row::after {
	content: "";
	display: block;
	clear: both;
}

.row p {
	margin-top: 4px;
	margin-bottom: 4px;
}

.col {
	display: inline-flex;
	color: rgb(227, 32, 104);
	font-size: 24px;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 50px;
}

.col-content {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.col-content .col-content-text {
	display: inline-flex;
}

.col img {
	width: 50px;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
}

.col-third {
	width: 33.3333%;
	margin: 0 10px;
}

.col-half {
	width: 50%;

}

.back-to-top {
	position: absolute;
	right: 20px;
	bottom: 10px;
	font-size: 12px;
	text-align: center;
}

.back-to-top i {
	font-size: 20px;
}

/* main */
#main {
	width: 1368px;
	margin: 0 auto;
	position: relative;
}

#header {
	position: fixed;
	top: 0;
	width: 1368px;
	margin: 0 auto;
    background-color:rgb(25, 67, 90);
	z-index: 10;
}

.header-infor {
	width: 960px;
	margin: 0 auto;
	height: 32px;
	font-size: 10px;
	line-height: 32px;
}

.header-infor .fas {
	font-size: 14px;
	margin: 0 2px;
}

.header-infor .fab {
	font-size: 14px;
	margin: 0 8px;
}

.header-infor .infor-text {
	color: #ffffff;
	display: inline-block;
	margin: 0 10px;
}

.header-infor .infor-text span {
	color: #B4B4B4;
	padding: 0 8px;
}

.header-infor .infor-social {
	display: block;
	color: #ffffff;
	float: right;
}

#header .nav {
	height: 68px;
	margin: 0 auto;
	background-color: rgb(255, 255, 255);
}

#header .nav .nav-infor{
	width: 960px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav .nav-infor .nav-infor-sub {
	width: 400px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav img {
	width: 65px;
	height: 65px;
	margin: 4px;
}

.nav li {
	font-size: 14px;
	list-style: none;
	margin: 10px;
	cursor: pointer;
}

.nav li:hover {
	font-weight: 500;
}

.nav a {
	color: black;
}

/* content */
#section-1 {
	width: 960px;
	margin: 0 auto;
}

#main .slider-banner {
	width: 1368px;
	height: 600px;
	background: url(../img/sliders/banner/img-slider-01-20210412040433.jpg) top center / cover no-repeat;
	position: relative;
	margin-top: 100px;
}

#main .slider-banner .slider-content {
	width: 428px;
	position: absolute;
	top: 140px;
	left: 240px;
}

.slider-banner .slider-content .btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/* Section 1 */
/* home */
#home {
	position: relative;
	margin-bottom: 250px;
}

#home .slider-sub {
	width: 960px;
	margin: 0 auto;
	display: inline-flex;
	justify-content: space-between;
    position: absolute;
    bottom: 10px;
}

#home .slider-sub .slider-sub-content {
	width: 292px;
	height: 292px;
	box-shadow: 0px 21px 30px -20px black;
}

#home .slider-sub .slider-sub-content:nth-child(1) {
	background: url(../img/sliders/slider-sub/bgn-boxes-01-20210412145904.jpg) top center / cover no-repeat;
}

#home .slider-sub .slider-sub-content:nth-child(2) {
	background: url(../img/sliders/slider-sub/bgn-boxes-02-20210412150036.jpg) top center / cover no-repeat;
}

#home .slider-sub .slider-sub-content:nth-child(3) {
	background: url(../img/sliders/slider-sub/bgn-boxes-03-20210412150036.jpg) top center / cover no-repeat;
}

#home .slider-sub .slider-sub-content .background-slider {
	width: 292px;
	height: 292px;
	position: relative;
}

.slider-sub-content .background-slider .content {
	position: absolute;
	margin: 0 16px;
	top: 80px;
	text-align: justify;
}

.slider-sub-content .background-slider .btn {
	position: absolute;
	bottom: 20px;
	left: 16px;
}


/* about us */
#about-us {
	padding-top: 120px;
}

#about-us .fas {
	display: inline-block;
	height: 20px;
	width: 20px;
	padding-top: 7px;
	margin-right: 10px;
	font-size: larger;
}

/* slider small */
.slider-small {
	margin: 10px 0;
}

.slider-small img {
	width: 375px;
	height: 250px;
	display: inline-block;
}

.slider-small img + img {
	margin: 0 -4px;
}


/* section 2 */
#section-2 {
	width: 960px;
	margin: 0 auto;
}

/* services */
#services {
	padding-top: 120px;
}

#services .row {
	align-items: flex-start;
	margin-top: 30px;
}

#services .fas {
	font-size: 30px;
	color: rgb(227, 32, 104);
	width: 30px;
	height: 10px;
	margin-right: 20px;
}

#services .fas.fa-running {
	font-size: 30px;
    padding-left: 6px;
}

#services .text-heading__small {
	font-size: 16px;
	line-height: 1.2;
}

#services .col-icon {
	width: 50px;
}

#services .col-content-text:hover .text-paragraph__small {
	background-color: rgba(230, 220, 220, 0.24);
	cursor: pointer;
	opacity: 0.8;
}

/* request a call back */
#call-back {
	margin: 80px 0;
	height: 518px;
}

#call-back .row {
	display: flex;
    color: rgb(227, 32, 104);
    font-size: 24px;
    height: 50px;
}

#call-back .row .text-paragraph {
	margin: 10px 0;
}

#call-back .col-third img {
	width: 54px;
	height: 54px;
	margin: 10px 0;
}

#call-back .row .content .col-third {
	display: inline-flex;
	flex-direction: column;
    align-items: center;
    padding: 7px;
	margin: 10px 0;
	width: 32%;
}

#call-back .content .text-heading {
	font-size: 22px;
}

#call-back .content p {
	text-align: center;
	padding: 10px 0;
}

#call-back .form-container {
	position: relative;
	width: 50%;
	height: 518px;
	background: url(../img/x6-20210417135359.png) top center / cover no-repeat;
	border-radius: 10px;
}

#call-back .form {
	padding: 40px;
	position: absolute;
	inset: 0;
	z-index: 1;
}

#call-back .background-color {
	position: absolute;
	inset: 0;
	background-color: rgba(24, 71, 97,0.85);
	height: 100%;
	border-radius: 10px;
}

#call-back .form h3 {
	font-size: 20px;
}

#call-back .form p {
	font-size: 14px;
	color: #ffffff;
	font-weight: 500;
	line-height: 1.4;
	margin: 10px 0;
}

#call-back .form input,select {
	width: 100%;
	height: 40px;
	margin: 10px 0;
	background-color: rgba(255, 255, 255, 0);
	color: #ffffff;
	font-size: 16px;
	border-top: none;
	border-left: none;
	border-right: none;
}

#call-back .form select {
	color: #a0a0a0;
}

#call-back .form input:focus {
	outline: none;
	border-color: #ffffff;
}

#call-back .form select:focus {
	outline: none;
	border-color: #ffffff;
}

#call-back .form input::placeholder {
	color: #a0a0a0;
}

#call-back .form option {
	background-color: rgb(255, 255, 255);
	font-size: 16px;
	padding: 10px 0;
	color: black;
}

#call-back .form-container .form .btn {
	margin: 0 auto;
}

#call-back .form-container .submit-btn {
	width: 100%;
	display: inline-flex;
	margin: 20px 0;
}

/* partners */
#partners {
	width: 100%;
	height: 110px;
}

#partners img {
	width: 154px;
	height: 110px;
}


/* our-community */
#our-community {
	padding-top: 120px;
	margin-bottom: 60px;
}

#our-community .community-box {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: stretch;
	margin: 0 auto;
	width: 960px;
}

#our-community .container-box {
	border-radius: 10px;
	position: relative;
}

#our-community .container-box:nth-child(1) {
	background: url(../img/community/x1-20210417021949.png) top center / cover no-repeat;
	width: 326px;
	height: 166px;
	margin: 20px;
}
#our-community .container-box:nth-child(4) {
	background: url(../img/community/x2-20210417021919.jpg) top center / cover no-repeat;
	width: 326px;
	height: 166px;
	margin: 20px;
}

#our-community .container-box:nth-child(3) {
	background: url(../img/community/x3-20210417021919.png) top center / cover no-repeat;
	width: 326px;
	height: 166px;
	margin: 20px;
}

#our-community .container-box:nth-child(2) {
	background: url(../img/community/x4-20210417022146.png) top center / cover no-repeat;
	width: 326px;
	height: 166px;
	margin: 20px;
}

#our-community .box-content {
	color: #ffffff;
	position: absolute;
	z-index: 1;
	inset: 0;
}

#our-community .box-content h3 {
	font-size: 16px;
	text-align: center;
	margin: 20px;
}

#our-community .box-content h1 {
	font-size: 45px;
	text-align: center;
}

#our-community .box-color {
	position: absolute;
	background-color: rgb(25, 67, 90, 0.6);
	inset: 0;
	border-radius: 10px;

}

#our-community .box-color-pink {
	position: absolute;
	background-color: rgba(227, 32, 104, 0.6);
	inset: 0;
	border-radius: 10px;

}

/* map */
.map {
	background: url(../img/ban-do-3-20210418170850.png) top center / cover no-repeat;
	width: 100%;
	height: 450px;
	position: relative;
}

.map .container-map {
	width: 100%;
	height: 135px;
	position: absolute;
	bottom: 15px;
	display: flex;
}

.map .container-map .content-map {
	width: 880px;
	height: 135px;
	background-color: #ffffff;
	margin: 0 auto;
	box-shadow: 0px 15px 20px -15px black;
	padding: 10px 20px;
	display: inline-flex;
	justify-content: space-between;
	border-radius: 10px;
}

.map .text-paragraph__small {
	font-size: 11px;
	color: #000;
}

.map .row .text-heading__small{
	font-size: 18px;
}

.map .content-map .map-infor {
	width: 250px;
}

.map .row {
	width: 600px;	
	margin: 10px;
	align-items: flex-start;
}

.map .row .col-third {
	margin: 0;
}

.map .col-icon img {
	width: 60px;
	padding: 0 10px;
}

/* footer */
#footer {
	margin-top: 20px;
}

#footer .footer-main {
	background-color: rgba(25, 67, 90, 0.8);
	height: 220px;
	width: 100%;
	display: inline-flex;
	padding: 10px 0 0 0;
}

#footer .footer-main .col-content {
	justify-content: flex-start;
}

#footer .footer-main .text-title__small,
#footer .footer-main .text-paragraph__small {
	color: #ffffff;
	font-size: 12px;
	line-height: 1.6;
}

#footer .footer-main .text-heading__small {
	font-size: 18px;
}

#footer .footer-main .row i {
	font-size: 15px;
	margin-right: 10px;
}

#footer .footer-main .row img {
	width: 250px;
    height: 120px;
}

#footer .footer-main .row .social-icon i {
	margin: 10px;
	font-size: 30px;
	color: rgb(165, 44, 88);
}

#footer .footer-nav {
	background-color: rgb(227, 32, 104);
	height: 58px;
	width: 100%;
	color: #ffffff;
	display: inline-flex;
	align-items: center;
    justify-content: space-evenly;
}

#footer .footer-nav a,
#footer .footer-nav i {
	color: #ffffff;
}

#footer .footer-nav a {
	margin: 0 20px;
}

#footer .footer-nav p,
#footer .footer-nav a {
	font-size: 12px;
}


/* animation */

@keyframes btn-animation {
	from {
		opacity: 1;
		transform: rotateX(100px);
		background: linear-gradient(90deg, rgba(12,67,98,1) 13%, rgba(227,32,104,1) 100%);

	}
	to {
		opacity: 0.6;
		transform: rotateX(0px);
		background: linear-gradient(90deg, rgba(12,67,98,1) 13%, rgba(227,32,104,1) 100%);
	}
}

