/* PC: width >= 1024px */
@media only screen and (min-width: 46.1875em) {
    #header .nav .menu-btn {
	display: none;
    }
}

/* tablet & mobile: width < 1024px */
/* @media only screen and (max-width: 63.9375em) {
   
} */

/* tablet: width >= 740px and width < 1024px */
/* @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #header .nav .menu-btn {
	display: none;
    }
} */

/* mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    /* common */
    .text-title::before,
    .text-title__small::before {
        width: 60px;
        height: 5px;
        margin-right: 10px;
    }

    #section-1 .text-title,
    #section-2 .text-title {
        font-size: 50px;
    }

    #section-1 .text-heading,
    #section-2 .text-heading {
        font-size: 80px;
    }

    #section-1 .text-paragraph,
    #section-2 .text-paragraph {
        font-size: 35px;
        margin: 20px 0;
        text-align: justify;
    }

    #section-1 .row,
    #section-2 .row {
        width: 175vw;
        min-width: 700px;
        align-items: center;
        flex-direction: column;

    }

    #section-1 .col-third,
    #section-2 .col-third {
        width: 100%;
        min-width: 1100px;
        text-align: justify;
    }

    
    /* main */
    #main {
        max-width: 740px;
        width: 100vw;
        overflow: hidden;
    }
    
    #header {
        height: 140px;
        width: 100%;
    }
    #header .header-infor {
        height: 140px;
        width: 100%;
        font-size: 24px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .header-infor .infor-social {
        margin: 0 10px;
        float: none;
        display: none;
    }

    .header-infor .infor-text {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        text-align: center;
    }

    .header-infor .fab {
        font-size: 40px;
        margin: 0px 20px;
    }

    .header-infor .fas {
        font-size: 35px;
        margin: 0px 20px;
    }
    
    .nav .nav-infor .nav-infor-sub {
        display: none;
    }
    #header .nav {
        height: auto;
        padding: 0 100px;
        justify-content: flex-start;
    }
    .nav img {
        width: 120px;
        height: 120px;
        margin-right: 40px;
    }
    #header .nav .btn {
        display: inline-flex;
        width: auto;
        height: 50px;
        min-width: 260px;
        font-size: 24px;
        border-radius: 50px;
    }
    #header .nav .menu-btn i {
        font-size: 60px;
    }
    #main .slider-banner {
        margin-top: 270px;
        width: 100%;
    }


    /* section 1 */
    #section-1 {
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
    }

    #home {
        margin-bottom: 0;
    }

    #home .slider-sub {
        position: unset;
        flex-direction: column;
        align-items: center;
        display: flex;
        width: unset;
    }

    #home .slider-sub .slider-sub-content {
        width: 175vw;
        min-width: 1200px;
        height: 1200px;
        margin: 70px 0;
        border-radius: 70px;
    }

    #home .slider-sub .slider-sub-content .background-slider {
        width: 100%;
        height: 100%;
    }

    .slider-sub-content .background-slider .btn {
        font-size: 50px;
        height: 80px;
        min-width: 700px;
        border-radius: 40px;
        left: 50%;
        bottom: 30px;
        transform: translateX(-50%);
    }

    .slider-sub-content .background-slider .content {
        margin: 0 40px;
        top: 48%;
    }

    .slider-sub-content .background-slider .content .text-title__small {
        font-size: 60px;
    }

    .text-heading__small {
        font-size: 100px;
    }

    .text-paragraph__small {
        font-size: 35px;
    }
    
    /* about */
    #about-us {
        padding-top: 260px;
        margin-top: -260px;
    }

    #about-us .fas {
        font-size: 60px;
        padding-top: 18px;
        margin-right: 60px;
    }

    /* section 2 */
    #section-2 {
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
    }

    #our-community .community-box {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #our-community .container-box:nth-child(n) {
        width: 175vw;
        min-width: 1200px;
        max-width: 1200px;
        height: 400px;
        border-radius: 40px;
    }
    
    #our-community .box-color,
    #our-community .box-color-pink {
        border-radius: 40px;
    }

    #our-community .box-content {
        width: 175vw;
        top: 15%;
        margin: auto;
    }

    #our-community .box-content h3 {
        font-size: 40px;
    }
    #our-community .box-content h1 {
        font-size: 140px;
    }

    #services {
        padding-top: 260px;
        margin-top: -260px;
    }

    #services .text-heading__small {
        font-size: 45px;
    }

    #services .row p {
        margin: 10px 0;
    }

    #services .fas,
    #services .fas.fa-running {
        font-size: 50px;

    }
    #services .col-icon {
        width: 80px;
        padding-top: 10px;
        margin-right: 40px;
    }
}