/* PC: width >= 1024px */
@media only screen and (min-width: 46.1875em) {
    #header .nav .menu-btn {
	display: none;
    }
}

/* tablet & mobile: width < 1024px */
/* @media only screen and (max-width: 63.9375em) {
   
} */

/* tablet: width >= 740px and width < 1024px */
/* @media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    #header .nav .menu-btn {
	display: none;
    }
} */

/* mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
    /* common */
    .text-title::before,
    .text-title__small::before {
        width: 20px;
        height: 1px;
        margin-right: 10px;
    }

    #section-1 .text-title,
    #section-2 .text-title {
        font-size: 18px;
        line-height: 1.8;
    }

    #section-1 .text-heading,
    #section-2 .text-heading {
        font-size: 34px;
    }

    #section-1 .text-paragraph,
    #section-2 .text-paragraph {
        font-size: 16px;
        margin: 6px 0;
        line-height: 1.4;
    }

    #section-1 .row,
    #section-2 .row {
        width: 85vw;
        min-width: 250px;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
    }
    
    #footer .col-third,
    #section-1 .col-third,
    #section-2 .col-third {
        width: 95%;
        min-width: 250px;
    }

    #section-1 .col-half,
    #section-2 .col-half {
        width: 110%;
    }

    
    /* main */
    #main {
        max-width: 740px;
        width: 100vw;
        overflow: hidden;
        min-width: unset;
    }
    
    /* header */
    #header {
        height: 70px;
        width: 100%;
        min-width: 250px;
    }
    #header .header-infor {
        height: 35px;
        width: 100%;
        font-size: 8px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        line-height: 8px;
    }
    .header-infor .infor-social {
        margin: 0 10px;
        float: none;
        display: none;
    }

    .header-infor .infor-text {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: center;
        text-align: center;
    }

    .header-infor .fab {
        font-size: 20px;
        margin: 0px 20px;
    }

    .header-infor .fas {
        font-size: 10px;
        margin: 0px 4px;
    }
    
    .nav .nav-infor .nav-infor-sub {
        display: none;
    }
    #header .nav {
        height: auto;
        padding: 0 10px;
        min-width: 290px;
        justify-content: flex-start;
    }
    .nav img {
        width: 40px;
        height: 40px;
        margin: unset;
    }

    #header .nav .nav-infor{
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #header .nav .btn {
        display: inline-flex;
        width: auto;
        height: 20px;
        min-width: 90px;
        font-size: 10px;
        border-radius: 50px;
    }
    #header .nav .menu-btn i {
        font-size: 30px;
    }
    #main .slider-banner {
        margin-top: 80px;
        width: 100%;
        height: 200px;
    }

    .slider-banner .text-title {
        font-size: 10px;
        line-height: 1.4;
    }

    .slider-banner .text-heading {
        font-size: 18px;
        margin: 3px 0;
    }

    .slider-banner .text-paragraph {
        font-size: 8px;
        line-height: 1.4;
        margin: 5px 0;
    }

    .slider-banner .btn {
        height: 18px;
        min-width: 110px;
        font-size: 8px;
    }
    #main .slider-banner .slider-content {
        width: 45%;
        min-width: 165px;
        top: 10%;
        left: 4%;
    }


    /* section 1 */
    #section-1 {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    #home {
        margin-bottom: 0;
    }

    #home .slider-sub {
        position: unset;
        flex-direction: column;
        align-items: center;
        display: flex;
        width: unset;
    }

    #home .slider-sub .slider-sub-content {
        width: 90vw;
        min-width: 250px;
        height: 400px;
        margin: 20px 0;
        border-radius: 30px;
    }

    #home .slider-sub .slider-sub-content .background-slider {
        width: 100%;
        height: 100%;
    }

    .slider-sub-content .background-slider .btn {
        font-size: 12px;
        height: 24px;
        min-width: 160px;
        border-radius: 20px;
        left: 50%;
        bottom: 15px;
        transform: translateX(-50%);
    }

    .slider-sub-content .background-slider .content {
        margin: 0 15px;
        top: unset;
        bottom: 50px;
        text-align: left;
    }

    .slider-sub-content .background-slider .content .text-title__small {
        font-size: 18px;
    }

    .text-heading__small {
        font-size: 20px;
    }

    .text-paragraph__small {
        font-size: 12px;
        text-align: justify;
    }
    
    /* about */
    #about-us {
        padding-top: 100px;
        margin-top: -60px;
    }

    #about-us .fas {
        font-size: 20px;
        padding-top: 6px;
        margin-right: 20px;
    }

    /* slider small */
    .slider-small {
        padding: 0 10px;
        height: 175px;
    }
    .slider-small img {
        width: 250px;
        height: 175px;
    }

    /* section 2 */
    #section-2 {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    #our-community {
        padding-top: 90px;
        margin-top: -90px;
    }

    #our-community .community-box {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
    }

    #our-community .container-box:nth-child(n) {
        width: 90vw;
        min-width: 250px;
        height: 200px;
        border-radius: 40px;
        margin: 10px 0;
    }
    
    #our-community .box-color,
    #our-community .box-color-pink {
        border-radius: 40px;
    }

    #our-community .box-content {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    #our-community .box-content h3 {
        font-size: 18px;
        margin: unset;
    }
    #our-community .box-content h1 {
        font-size: 50px;
        margin: 8px;
    }

    #services {
        padding-top: 100px;
        margin-top: -60px;
    }

    #services .text-heading__small {
        font-size: 22px;
    }

    #services .row p {
        margin: 6px 0;
    }

    #services .fas,
    #services .fas.fa-running {
        font-size: 30px;

    }
    #services .col-icon {
        width: 20px;
        padding-top: 10px;
        margin-right: 30px;
    }

    /* call back */
    #call-back {
        height: unset;
        margin-bottom: 10px;
    }

    #call-back .row .content .col-third {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        padding: unset;
        margin: unset;
    }

    #call-back .row .content .text-paragraph__small {
        width: 50vw;
    }
    
    /* form */
    #call-back .form-container {
        width: 100%;
        height: 500px;
        border-radius: 20px;
        margin-top: 20px;
    }

    #call-back .row {
        height: unset;
    }

    #call-back .form {
        /* height: inherit; */
        padding: 20px;
    }
    
    #call-back .background-color {
        /* height: inherit; */
        border-radius: inherit;
    }

    .map .container-map {
        display: none;
    }

    /* footer */
    #footer .footer-main {
        height: unset;
        padding: 15px;
        min-width: 200px;
    }

    #footer .row {
        flex-direction: column;
        width: 100%;
        margin: unset;
    }

    #footer .social-icon {
        text-align: center;
    }

    #footer .footer-nav {
        height: unset;
        min-height: 60px;
        flex-direction: column-reverse;
    }

    #footer .footer-nav a,
    #footer .footer-nav p {
        text-align: center;
    }

    .back-to-top {
        display: none;
    }
    .map .container-map {
         display: none;
    }

    /* modal */
    .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,0.4);
        z-index: 9;
        animation: modalMove ease 0.2s;
    }
    
    .modal .modal-container {
        overflow-x: hidden;
        overflow-y: auto;
        width: 60%;
        min-width: 210px;
        height: 100%;
        top: 100px;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        padding-top: 90px;
        padding-left: 10px;
    }

    .modal .menu-logo {
        width: 25vh;
        min-width: 100px;
        max-width: 150px;
        margin: 0 auto;
    }

    .modal .modal-container a {
        height: 20px;
        width: 90%;
        margin: 10px 0;
        font-size: 15px;
        color: rgb(227, 32, 104);
        font-weight: 700;
        border-bottom: darkblue solid 2px;
    }

    .modal .fa-times-circle {
        font-size: 30px;
        position: absolute;
        top: 90px;
        right: 5%;
    }

    .modal .social-icon {
        display: flex;
        width: 90%;
        margin-top: 1vh;
        justify-content: space-around;
    }

    .modal .modal-container .social-icon a {
        border-bottom: none;
        font-size: 25px;
        width: unset;
    }

    .open {
        display: unset;
    }

    @keyframes modalMove {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
        }
    }

    .container-box.one {
        order: 4;
    }
}