.outer {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.outer div {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #FCFFA6;
    border-radius: 10px;
}

.outer div:nth-child(1) {
    animation: a1 2s ease-in-out infinite;
}

.outer div:nth-child(2) {
    animation: a2 2s ease-in-out infinite;
}

.outer div:nth-child(3) {
    animation: a3 2s ease-in-out infinite;
}

.outer div:nth-child(4) {
    animation: a4 2s ease-in-out infinite;
}

@keyframes a1 {
    50% {transform: translateX(-100%) rotate(90deg); border-color: #C1FFD7}
    100% {transform: translateX(0) rotate(180deg);}
}
@keyframes a2 {
    50% {transform: translateY(100%) rotate(90deg); border-color: #F037A5}
    100% {transform: translateY(0) rotate(180deg);}
}
@keyframes a3 {
    50% {transform: translateX(100%) rotate(90deg); border-color: #CAB8FF}
    100% {transform: translateX(0) rotate(180deg);}
}
@keyframes a4 {
    50% {transform: translateY(-100%) rotate(90deg); border-color: #EB92BE}
    100% {transform: translateY(0) rotate(180deg);}
}